/* 触发弹窗图片的样式 */
    #myImg {
        border-radius: 5px;
        cursor: pointer;
        transition: 0.3s;
    }

    #myImg:hover {
        opacity: 0.7;
    }

    /* 弹窗背景 */
    .modal {
        display: none;
        /* Hidden by default */
        position: fixed;
        /* 设置显示的优先层级级别 */
        z-index: 1234;
        /* Sit on top */
        padding-top: 1px;
        /* Location of the box */
        left: 0;
        top: 0;
        width: 100%;
        /* Full width */
        height: 100%;
        /* Full height */
        overflow: auto;
        /* Enable scroll if needed */
        background-color: rgb(0, 0, 0);
        /* Fallback color */
        background-color: rgba(0, 0, 0, 1.0);
        /* Black w/ opacity */
    }

    /* 设置弹出图片的样式 */
    .modal-content {
        margin: auto;
        display: block;
        width: 50%;
		#height:100;
        max-width: 700px;
    }
	
	.modal-big-content {
        margin: auto;
        display: none;
        width: 50%;
		#height:100;
        max-width: 700px;
    }

    /* 设置文本内容的样式 */
    #caption {
        margin: auto;
        display: block;
        width: 95%;
        max-width: 700px;
        text-align: justify;
        color: #ccc;
        padding: 10px 10px;
        #height: 300px;
    }
	
		
	
	.close{
		height: 2em;
		width: 2em;
		border-radius: 50%;
		background: #fff;
		position: absolute;
		right: 0em;
		top: 0em;
		color: #dd0000;
		text-align: center;
		line-height: 2em;
		font-weight: bold;
		transition: 0.3s;
	}

    /* 设置弹出图片的动画，添加动画 */
    .modal-content,.close,
    #caption {
        -webkit-animation-name: zoom;
        -webkit-animation-duration: 0.6s;
        animation-name: zoom;
        animation-duration: 0.6s;
    }

    @-webkit-keyframes zoom {
        from {
            -webkit-transform: scale(0)
        }

        to {
            -webkit-transform: scale(1)
        }
    }

    @keyframes zoom {
        from {
            transform: scale(0)
        }

        to {
            transform: scale(1)
        }
    }

    .close:hover,
    .close:focus {
        color: #bbb;
        text-decoration: none;
        cursor: pointer;
    }

    /* 小屏幕中图片宽度为 100% */
    @media only screen and (max-width: 700px) {
        .modal-content {
            width: 100%;
        }
    }